In [1]:
from pathlib import Path
import ast
import duckdb
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

rootpath = Path.cwd().parent
duckdb_destination_path = rootpath / "temp/defi_risk_test.duckdb"

In [2]:
sql = """
SELECT * FROM information_schema.tables
"""
conn = duckdb.connect(str(duckdb_destination_path))
df = conn.execute(sql).fetchdf()

display(df)
conn.close()

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action,TABLE_COMMENT
0,defi_risk_test,controller_log,_dlt_loads,BASE TABLE,None,None,None,None,None,YES,NO,None,None
1,defi_risk_test,controller_log,_dlt_pipeline_state,BASE TABLE,None,None,None,None,None,YES,NO,None,None
2,defi_risk_test,controller_log,_dlt_version,BASE TABLE,None,None,None,None,None,YES,NO,None,None
3,defi_risk_test,sfrxeth,log,BASE TABLE,None,None,None,None,None,YES,NO,None,None
4,defi_risk_test,sfrxeth,log__topics,BASE TABLE,None,None,None,None,None,YES,NO,None,None
5,defi_risk_test,sfrxeth,transaction,BASE TABLE,None,None,None,None,None,YES,NO,None,None
6,defi_risk_test,sfrxeth,_dlt_loads,BASE TABLE,None,None,None,None,None,YES,NO,None,None
7,defi_risk_test,sfrxeth,_dlt_pipeline_state,BASE TABLE,None,None,None,None,None,YES,NO,None,None
8,defi_risk_test,sfrxeth,_dlt_version,BASE TABLE,None,None,None,None,None,YES,NO,None,None
9,defi_risk_test,sfrxeth_controller_log,log,BASE TABLE,None,None,None,None,None,YES,NO,None,None
10,defi_risk_test,sfrxeth_controller_log,_dlt_loads,BASE TABLE,None,None,None,None,None,YES,NO,None,None
11,defi_risk_test,sfrxeth_controller_log,_dlt_pipeline_state,BASE TABLE,None,None,None,None,None,YES,NO,None,None
12,defi_risk_test,sfrxeth_controller_log,_dlt_version,BASE TABLE,None,None,None,None,None,YES,NO,None,None

##

In [3]:
sql = """
SELECT * FROM sfrxeth_controller_log.log
"""
conn = duckdb.connect(str(duckdb_destination_path))
df_log = conn.execute(sql).fetchdf().drop(columns=['_dlt_load_id', '_dlt_id'])
df_log

,topics,address,data,block_number,block_hash,time_stamp,gas_price,gas_used,log_index,transaction_hash,transaction_index
0,"[""0xeec6b7095a637e006c79c1819d696e353a8f703db2...",0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x1075dc7,0x6f971a452a974a94c9d59bf20c1c6ed66bb5c0ff2782...,0x64612d33,0x9c2847d19,0x1287b2,0xa6,0xcac35a9c033ea94fa885060c2fcce68ac17574250cc6...,0x3f
1,"[""0xe1979fe4c35e0cef342fef5668e2c8e7a7e9f5d5d1...",0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x1075dc7,0x6f971a452a974a94c9d59bf20c1c6ed66bb5c0ff2782...,0x64612d33,0x9c2847d19,0x1287b2,0xa7,0xcac35a9c033ea94fa885060c2fcce68ac17574250cc6...,0x3f
2,"[""0xeec6b7095a637e006c79c1819d696e353a8f703db2...",0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x1075f25,0x0c72e1aa14e2607d062d6acc56e088d299cb9aedea2a...,0x64613def,0xc0ff737d8,0x141d07,0x62,0xf5cc3b8d70eb97313916d62acdb7936b4996d8c8d430...,0x3e
3,"[""0xe1979fe4c35e0cef342fef5668e2c8e7a7e9f5d5d1...",0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x1075f25,0x0c72e1aa14e2607d062d6acc56e088d299cb9aedea2a...,0x64613def,0xc0ff737d8,0x141d07,0x63,0xf5cc3b8d70eb97313916d62acdb7936b4996d8c8d430...,0x3e
4,"[""0xe1979fe4c35e0cef342fef5668e2c8e7a7e9f5d5d1...",0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x1076eb1,0xc553074b5408478e26f408da8820402f6a01b9072097...,0x6461fbc7,0xbd28e4657,0x11201d,0x157,0x364382c084cfb2c557809367a123de63cf794f144fd5...,0x73
...,...,...,...,...,...,...,...,...,...,...,...
3337,"[""0x642dd4d37ddd32036b9797cec464c0045dd2118c54...",0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x152f18b,0xee1443fabd49426b3f9152943bd2b4343c1f9a4434b6...,0x67f3074b,0x9fc5a75a,0x128561,0x215,0x258b2bd928131f14cc0887d76b0483f44851781631eb...,0x46
3338,"[""0xeec6b7095a637e006c79c1819d696e353a8f703db2...",0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x152f18b,0xee1443fabd49426b3f9152943bd2b4343c1f9a4434b6...,0x67f3074b,0x9fc5a75a,0x128561,0x216,0x258b2bd928131f14cc0887d76b0483f44851781631eb...,0x46
3339,"[""0xeec6b7095a637e006c79c1819d696e353a8f703db2...",0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x152f37e,0x5488ec310a78f026559705c0c9c4eb96970b4372067a...,0x67f31ec7,0x6a16ab1e,0xb4185,0x72,0x5b658e78c6765fb8ff5a123e982e64182a0685aee606...,0xd
3340,"[""0x77c6871227e5d2dec8dadd5354f78453203e22e669...",0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x152f37e,0x5488ec310a78f026559705c0c9c4eb96970b4372067a...,0x67f31ec7,0x6a16ab1e,0xb4185,0x73,0x5b658e78c6765fb8ff5a123e982e64182a0685aee606...,0xd
3341,"[""0x5393ab6ef9bb40d91d1b04bbbeb707fbf3d1eb73f4...",0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x152f9be,0x43409e1b9b44da5d455f4476702c00c483f8773e0a09...,0x67f36a1b,0x2ac6e603,0x139620,0x113,0x2e16f839a2213faa6cf265bde0129ab75f534eb4a0bb...,0x175

## UserState event

In [4]:
topic_signature = '0xeec6b7095a637e006c79c1819d696e353a8f703db2c49fc0219e17a8fd04f7f2'

# transform topics to list
df_log['topics'] = df_log['topics'].apply(ast.literal_eval)

# filter by topic signature
df = df_log[df_log['topics'].str[0] == topic_signature]
df.reset_index(drop=True, inplace=True)

# extract user address
df['user'] = df['topics'].str[1].apply(lambda x: "0x" + x[26:])

# transform time_stamp to datetime
df['time_stamp'] = pd.to_datetime(df['time_stamp'].apply(lambda x: int(x, 16)), unit='s')

In [5]:
def decode_user_state_calldata(calldata: str) -> dict:
    """
    Decode Solidity function calldata string with arguments: uint256 collateral, uint256 debt, int256 n1, int256 n2, uint256 liquidation_discount
    
    Args:
        calldata_str: string containing hex calldata with '0x' prefix
        
    Returns:
        dict with decoded values: collateral, debt, n1, n2, liquidation_discount
    """
    def hex_to_int256(hex_str):
        """Convert hex string to int256, handling negative values"""
        value = int(hex_str, 16)
        return value if value < 2**255 else value - 2**256
    
    def hex_to_uint256(hex_str):
        """Convert hex string to uint256"""
        return int(hex_str, 16)
    
    
    # Extract each 32-byte argument (64 hex characters each)
    result = {  
        'collateral': hex_to_uint256(calldata[2:66]),
        'debt': hex_to_uint256(calldata[66:130]),
        'n1': hex_to_int256(calldata[130:194]),
        'n2': hex_to_int256(calldata[194:258]),
        'liquidation_discount': hex_to_uint256(calldata[258:])
    }
    
    return result

decoded_results = df['data'].apply(decode_user_state_calldata)
decoded_df = pd.DataFrame(decoded_results.tolist())

df = pd.concat([df, decoded_df], axis=1)
df.head()

,topics,address,data,block_number,block_hash,time_stamp,gas_price,gas_used,log_index,transaction_hash,transaction_index,user,collateral,debt,n1,n2,liquidation_discount
0,[0xeec6b7095a637e006c79c1819d696e353a8f703db2c...,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x1075dc7,0x6f971a452a974a94c9d59bf20c1c6ed66bb5c0ff2782...,2023-05-14 18:49:23,0x9c2847d19,0x1287b2,0xa6,0xcac35a9c033ea94fa885060c2fcce68ac17574250cc6...,0x3f,0x7a16ff8270133f063aab6c9977183d9e72835428,929933909709140155529,1000000000000000000000000,40,49,60000000000000000
1,[0xeec6b7095a637e006c79c1819d696e353a8f703db2c...,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x1075f25,0x0c72e1aa14e2607d062d6acc56e088d299cb9aedea2a...,2023-05-14 20:00:47,0xc0ff737d8,0x141d07,0x62,0xf5cc3b8d70eb97313916d62acdb7936b4996d8c8d430...,0x3e,0xd0c096ac82eba8d7a26f96ffc34b4e3bba3a1122,4950000000000000000,5000000000000000000000,44,58,60000000000000000
2,[0xeec6b7095a637e006c79c1819d696e353a8f703db2c...,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x1076eb1,0xc553074b5408478e26f408da8820402f6a01b9072097...,2023-05-15 09:30:47,0xbd28e4657,0x11201d,0x158,0x364382c084cfb2c557809367a123de63cf794f144fd5...,0x73,0x7a16ff8270133f063aab6c9977183d9e72835428,929933909709140155529,1522177275477716067202304,-1,8,60000000000000000
3,[0xeec6b7095a637e006c79c1819d696e353a8f703db2c...,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x1077817,0x7cc6ad6f446ba78afe784887e779948cab393e4fc6f9...,2023-05-15 17:38:35,0xdc0b0334c,0x9cfba,0xb2,0x0e15f4dd52c51389702d40b2d8e877487a4820379560...,0x5a,0x7a16ff8270133f063aab6c9977183d9e72835428,929933909709140155529,1537711899188505330143304,-2,7,60000000000000000
4,[0xeec6b7095a637e006c79c1819d696e353a8f703db2c...,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,0x00000000000000000000000000000000000000000000...,0x1077c72,0x32eee2df13b1624784f537fd5dcab27ed5950786db8e...,2023-05-15 21:25:59,0x15d14c3397,0x12831c,0x1dd,0xeb0806212d102c3c25fa4c864a3c9d3835d92bc45f7d...,0x78,0x5180db0237291a6449dda9ed33ad90a38787621c,3800000000000000000,2000000000000000000000,111,120,60000000000000000

In [6]:
cols = ['address', 'time_stamp', 'user', 'collateral', 'debt', 'n1', 'n2', 'liquidation_discount', 'transaction_hash']

In [10]:
# df[cols].to_csv(rootpath / 'data/user_state_events.csv', index=False)
df[cols]

,address,time_stamp,user,collateral,debt,n1,n2,liquidation_discount,transaction_hash
0,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,2023-05-14 18:49:23,0x7a16ff8270133f063aab6c9977183d9e72835428,929933909709140155529,1000000000000000000000000,40,49,60000000000000000,0xcac35a9c033ea94fa885060c2fcce68ac17574250cc6...
1,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,2023-05-14 20:00:47,0xd0c096ac82eba8d7a26f96ffc34b4e3bba3a1122,4950000000000000000,5000000000000000000000,44,58,60000000000000000,0xf5cc3b8d70eb97313916d62acdb7936b4996d8c8d430...
2,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,2023-05-15 09:30:47,0x7a16ff8270133f063aab6c9977183d9e72835428,929933909709140155529,1522177275477716067202304,-1,8,60000000000000000,0x364382c084cfb2c557809367a123de63cf794f144fd5...
3,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,2023-05-15 17:38:35,0x7a16ff8270133f063aab6c9977183d9e72835428,929933909709140155529,1537711899188505330143304,-2,7,60000000000000000,0x0e15f4dd52c51389702d40b2d8e877487a4820379560...
4,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,2023-05-15 21:25:59,0x5180db0237291a6449dda9ed33ad90a38787621c,3800000000000000000,2000000000000000000000,111,120,60000000000000000,0xeb0806212d102c3c25fa4c864a3c9d3835d92bc45f7d...
...,...,...,...,...,...,...,...,...,...
1536,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,2025-03-10 05:27:23,0xc9396c19c5ce1cb80be5a2c7f52d1cef88ac866e,6985044133284952185,8866451065005101539114,45,54,60000000000000000,0xd799bf323c586ad0430e5a50c183443949e81c49deab...
1537,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,2025-03-10 05:29:47,0xc9396c19c5ce1cb80be5a2c7f52d1cef88ac866e,0,0,0,0,0,0xf876c7955685d911f45c6a5be860163fbb6c9b628c74...
1538,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,2025-04-04 11:51:47,0x35a74cf36c28e10100b68a3d75c03c3d18a3400a,0,0,0,0,0,0x010720867c29a41a866919ad907579e449c9ed63b475...
1539,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,2025-04-06 22:59:23,0xfc4e534fc42c5658bce974e59e8e8283cce897cf,0,0,0,0,0,0x258b2bd928131f14cc0887d76b0483f44851781631eb...
1540,0x8472a9a7632b173c8cf3a86d3afec50c35548e76,2025-04-07 00:39:35,0xf20317d989d2577bfb7c3487b47d5f93590b76dc,97569796773923031725,124140080852749239914174,48,51,60000000000000000,0x5b658e78c6765fb8ff5a123e982e64182a0685aee606...