In [9]:
from pathlib import Path
import duckdb
rootpath = Path.cwd().parent
duckdb_destination_path = rootpath / "data/defi_risk_test.duckdb"
conn = duckdb.connect(str(duckdb_destination_path))

In [ ]:
sql = """
SELECT * FROM information_schema.tables
"""
conn.execute(sql).fetchdf()

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action,TABLE_COMMENT
0,defi_risk_test,weth,prices,BASE TABLE,None,None,None,None,None,YES,NO,None,None
1,defi_risk_test,weth,_dlt_loads,BASE TABLE,None,None,None,None,None,YES,NO,None,None
2,defi_risk_test,weth,_dlt_pipeline_state,BASE TABLE,None,None,None,None,None,YES,NO,None,None
3,defi_risk_test,weth,_dlt_version,BASE TABLE,None,None,None,None,None,YES,NO,None,None

In [12]:
sql = """
SELECT timestamp, price FROM weth.prices
"""
df = conn.execute(sql).fetchdf()
df

                   timestamp        price
0    2025-03-26 17:04:40.085  2062.278354
1    2025-03-26 18:04:43.323  2072.834595
2    2025-03-26 19:03:26.756  2068.394163
3    2025-03-26 20:04:54.752  2064.652730
4    2025-03-26 21:04:46.731  2040.260483
...                      ...          ...
2156 2025-06-24 13:03:13.442  2422.679556
2157 2025-06-24 14:03:38.293  2428.272833
2158 2025-06-24 15:04:57.088  2401.236619
2159 2025-06-24 16:02:58.402  2402.282925
2160 2025-06-24 16:25:28.000  2408.686326

[2161 rows x 2 columns]